No soy muy bueno para hacer este tipo de cosas llamadas hacer ver bonito un documento, pero intentare mi mejor esfuerzo

Primeramente vamos a importar librerias importantes que utilizaremos

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import normalize 
%matplotlib inline

Ahora utilizando pandas traeremos nuestros datillos a este lugar
y tambien pondermos las columnas y un ejemplo de algunas

In [2]:
df = pd.read_csv('movie_metadata.csv')
print(len(df))
print(list(df))
datanums = []
df.head()

5036
['Unnamed: 0', 'color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

Vamos a empezar con un poco de limpieza
crearemos unos directorios para poder guardar directores y actores y nombres de peliculas
tambien creareoms un arreglo donde estaremos metiendo los datos ya limpios, esto con el fin de crear otro dataframe mas adelante

In [3]:
dicc_directores = dict()
count = 0
array = []
for i in df['director_name']:
    if i not in dicc_directores.keys():
        count = count + 1
        dicc_directores.update({i:count})
    array.append(dicc_directores[i])
#print(array)
#print(dicc_directores)
df['director_name'] = array
datanums.append(array)

In [4]:
array = []
a = df['num_critic_for_reviews'][4]
for i in df['num_critic_for_reviews']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['num_critic_for_reviews'] = array
datanums.append(array)

In [5]:
array = []
a = df['duration'][4]
for i in df['duration']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['duration'] = array
datanums.append(array)

In [6]:
dicc_genres = dict()
count = 0
array = []
#print(df['genres'][0].split('|'))
for values in df['genres']:
    a = []
    for i in values.split('|'):
        if i not in dicc_genres.keys():
            count = count + 1
            dicc_genres.update({i:count})
        a.append(dicc_genres[i])
    array.append(a)
#df['genres'] = array
#print(array)
array2 = []
for i in array:
    if type(i) == type(list()):
        i = i[0]
    array2.append(i)
datanums.append(array2)

In [7]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_1_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_1_name'] = array
datanums.append(array)

In [8]:
#movie_title
dicc_titulos = dict()
count = 0
array = []
for i in df['movie_title']:
    while(i in dicc_titulos):
        i = i + 'a'
    count = count + 1
    dicc_titulos.update({i:count})
    array.append(dicc_titulos[i])
#print(array)
#print(len(df))
#print(len(dicc_titulos))
#print(len(array))
df['movie_title'] = array
#datanums.append(array)

In [9]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_2_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_2_name'] = array
datanums.append(array)

In [10]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_3_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_3_name'] = array
datanums.append(array)

In [11]:
array = []
a = df['facenumber_in_poster'][4]
for i in df['facenumber_in_poster']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['facenumber_in_poster'] = array
datanums.append(array)

In [12]:
scores = []
array = []
for i in df['imdb_score']:
    if np.isnan(i):
        i = 0
    j = 1
    if i > 7:
        j = 2
    else:
        j = 1
    array.append(i)
    scores.append(j)
df['imdb_score'] = array
datanums.append(array)
#for i in datanums:
    #print(array)

In [13]:
array = []
a = df['gross'][4]
for i in df['gross']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['gross'] = array
#normalize(array)
datanums.append(array)

In [14]:
array = []
a = df['budget'][3]
for i in df['budget']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['budget'] = array
datanums.append(array)

Es hora de crear el nuevo dataframe con lso valores numericos

In [15]:
columnas = ['directores','criticas','duracion','genero','actores1','actores2','actores3','rostros',
            'scores','gross','budget','class']

datanums = normalize(datanums)
datanums = list(datanums)
datanums.append(scores)
arreglo = np.rot90(datanums)
numericalDF = pd.DataFrame(data = arreglo,columns = columnas)
#df.loc[df['pad'] == 0,'pad'] = df['pad'].mean()
numericalDF.head()
array = []
for i in numericalDF['rostros']:
    if i == 0:
        array.append(.1)
    else:
        array.append(i)
#print(array)
numericalDF.to_csv('numericalData.csv')
numericalDF.head()

,directores,criticas,duracion,genero,actores1,actores2,actores3,rostros,scores,gross,budget,class
0,0.024778,0.003295,0.011543,0.007769,0.034020,0.029215,0.027567,0.000000,0.014223,0.000016,7.773335e-08,1.0
1,0.031655,0.001073,0.012825,0.011654,0.015347,0.000761,0.027559,0.028946,0.013576,0.000002,0.000000e+00,1.0
2,0.031642,0.000996,0.009747,0.018128,0.034004,0.029206,0.027551,0.000000,0.013576,0.000000,9.893336e-08,1.0
3,0.001505,0.003295,0.005515,0.022013,0.033988,0.029196,0.027543,0.005789,0.016162,0.000000,0.000000e+00,2.0
4,0.031629,0.000077,0.011158,0.011654,0.024448,0.029186,0.006778,0.011579,0.016593,0.000000,0.000000e+00,2.0